<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cao.travel.mapper.ProvinceMapper">
    <!--开启缓存，并替代 mybatis 的默认缓存类-->
    <cache type="cn.cao.travel.config.MyRedisCache"/>


    <select id="queryAll" resultType="province">
        select * from travel.t_province
    </select>

    <select id="queryById" resultType="province">
        select * from travel.t_province where id=#{id}
    </select>

    <!--查询总条数-->
    <select id="queryTotals" resultType="int">
        select count(id) from travel.t_province
    </select>

    <!--分页查询-->
    <select id="queryByPage" resultType="province">
        select * from travel.t_province
        order by place_counts desc
        limit #{startRow},#{rows}
    </select>

    <insert id="save" parameterType="province">
        insert into travel.t_province values (default,#{name},#{tags},#{placeCounts})
    </insert>

    <delete id="delete">
        delete from travel.t_province where id=#{id}
    </delete>

    <update id="update" parameterType="province">
        update travel.t_province
        <set>
            <if test="name!=null and name!=null">
                name=#{name},
            </if>
            <if test="tags!=null and tags!=null">
                tags=#{tags},
            </if>
            <if test="placeCounts!=null and placeCounts!=null">
                place_counts=#{placeCounts},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--更新景点数-->
    <update id="updatePlaceCounts" >
        update travel.t_province set place_counts= place_counts+#{number}
        where id=#{id}
    </update>


</mapper>